@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

.info img{
    height: 50%;
    width: 50%;
}

.subtitle {
  margin-top: -1.5rem;
}
.title{
  color : #464646 !important;
}

$body-background-color:  #e3e3e3;

.left-side {
  background-color: #efeeee;
}
article {
  background-color: #efeeee;
}
.left-side .container{
  margin-top: 1.5rem;
}
.info {
  margin-bottom: 1.5rem !important;
}

$primary : #2291cd ;
@import "font-awesome/scss/font-awesome";
@import "bulma/sass/bulma.sass";
